@font-face {font-family: 'Input-Mono-Narrow';src: url('/fonts/Input Mono Narrow/InputMonoNarrow-Regular.ttf')}
@font-face {font-family: 'Input-Mono-Narrow-Thin';src: url('/fonts/Input Mono Narrow/InputMonoNarrow-Thin.ttf')}
@font-face {font-family: 'Steinbeck';src: url('/fonts/steinbeck/SteinbeckItalic.woff')}

body{
	font-family: 'Input-Mono-Narrow-Thin', monospace;
	box-sizing: border-box;
}

div, h1, h2, h3{
	box-sizing: border-box;
	font-family: 'Steinbeck', monospace;
	font-size: larger;
}

p{
	font-family: 'Input-Mono-Narrow-Thin', monospace;
}